body { 
  margin: 0px; 
  padding: 0px; 
  background-color: #990000; 
} 
@media (max-width: 1024px) { 
body { 
 background-color: #3333FF; 
} 
} 
@media (max-width: 768px) { 
body { 
 background-color: #FF33FF;
 #producto {
  width: 200px; 
  height: 400px; 
  background-color: #AAAAAA;
  border: 2px solid;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content:space-around;
  text-align: center;
  border-radius: 10px; 
  box-shadow: 0px 10px 20px 0px #000000;
  font: bold 18px verdana;
  }
#rosa_roja {
   margin: 10px;
   WIDTH="50" HEIGHT="50"
} 
}

} 
@media (max-width: 480px) { 
body { 
 background-color: #339933; 
} 
} 
@media (max-width: 320px) { 
body {  background-color: #CCCCCC; 
} 
} 
#cajapadre { 
    position: relative; 
    border: 2px solid;
     display: flex; 
    text-align: center;
   flex-wrap: wrap;
  } 
#caja-1 { 
  position: relative; 
  top: 25px; 
  float: left; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #AAAAAA; 
  flex-basis: 1; 
} 
#caja-2 { 
  position: absolute; 
  font: bold 18px verdana;
  float: left; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #0d0585;
  padding: 10px; 
  flex: 1 2 500px; 
} 
#caja-3 { 
  float: right; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #AAAAAA;
  flex-grow: 2; 
} 
#caja-4 { 
  float: right; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #CCCCCC; 
  flex-grow: 1; 
  align-self: baseline; 
  order: 4;
} 
.restaurar { 
clear: both; 
} 
#producto {
  width: 600px; 
  height: 500px; 
  background-color: #AAAAAA;
  border: 2px solid;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px; 
  box-shadow: 0px 10px 20px 0px #000000;
  font: bold 18px verdana;
}
#rosa_roja {
  border-image-outset: 50px;
  margin: 10px;
  width: 50%;
  }

.precio_y_boton{
  display:flex;
  justify-content:space-around;
  padding: 10px;
}

#comprar{
  border: 1px solid;
  border-radius: 10%;
  background-color: aqua;
   font: bold 18px verdana;
}
#texto_tarjeta{
  align-items:flex-end;
}
#nombre{
  font-size: 22px;
}
#descripcion{
  font-size: 15px;
}


