#cajapadre { 
    position: relative; 
    border: 2px solid;
     display: flex; 
    text-align: center;
   flex-wrap: wrap;
  } 
#caja-1 { 
  position: relative; 
  top: 25px; 
  float: left; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #AAAAAA; 
  flex-basis: 1; 
} 
#caja-2 { 
  position: absolute; 
  font: bold 18px verdana;
  float: left; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #CCCCCC;
  padding: 10px; 
  flex: 1 2 500px; 
} 
#caja-3 { 
  float: right; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #AAAAAA;
  flex-grow: 2; 
} 
#caja-4 { 
  float: right; 
  width: 140px; 
  height: 50px; 
  margin: 5px; 
  background-color: #CCCCCC; 
  flex-grow: 1; 
  align-self: baseline; 
  order: 4;
} 
.restaurar { 
clear: both; 
} 
#producto {
  width: 600px; 
  height: 500px; 
  margin: 50px; 
  background-color: #AAAAAA;
  border: 2px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px; 
	box-shadow: 0px 10px 20px 0px #000000;
  font: bold 18px verdana;
}
#rosa_roja {
  box-shadow:  20px;
  }

.precio_y_boton{
  display:flex;
  justify-content:space-around;
}

#comprar{
  border: 1px solid;
  border-radius: 10%;
  background-color: aqua;
   font: bold 18px verdana;
}
#texto_tarjeta{
  align-items:flex-end;
}
